.header__nav {
    display: flex;
    gap: 60px;
    flex-wrap: nowrap;
    align-items: center;
}
.header-nav__list {
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    align-items: center;
}