<footer class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer__logo">
                <a href="">
                    <picture class="logo">
                        <source media="(max-width: 767px)" srcset="./assets/images/logo/logo767.avif" type="image/avif">
                        <source media="(max-width: 767px)" srcset="./assets/images/logo/logo767.png 1x, ./assets/images/logo/logo7672x.png 2x">
                        
                        <source media="(max-width: 1201px)" srcset="./assets/images/logo/logo1199.avif" type="image/avif">
                        <source media="(max-width: 1201px)" srcset="./assets/images/logo/logo1199.png 1x, ./assets/images/logo/logo11992x.png 2x">
                    
                        <img src="./assets/images/logo/logo.png" srcset="./assets/images/logo/logo.png 1x, ./assets/images/logo/logo2x.png 2x" alt="Логотип с надписью 'dyson'" class="logo__image">
                    </picture>
                </a>
            </div>
            <nav class="footer__nav">
                <div class="footer__chapter footer__title">
                    <h4 class="footer__title-text title">О компании</h4> <!-- Временно h4 -->
                </div>

                <div class="footer__chapter footer__shop">
                    <h5 class="footer__title-text title">Магазин</h5>
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Фены Dyson Supersonic</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Стайлеры Dyson Airwrap</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Выпрямители Dyson Corrale</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Пылесосы</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Климатическая техника</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Освещение</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Аксессуары</a></li>
                    </ul>
                </div>

                <div class="footer__chapter footer__info">
                    <h5 class="footer__title-text title">Общая информация</h5>
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Новости</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Доставка</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Гарантия</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Оплата товара</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Свяжитесь с нами</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Политика конфиденциальности</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Договор оферты</a></li>
                    </ul>
                </div>

                <div class="footer__chapter footer__discount">
                    <h5 class="footer__title-text title">Акции</h5>
                    <ul class="footer-nav__list">
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Подарочная коллекция</a></li>
                        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Эксклюзивные предложения</a></li>
                    </ul>
                </div>
                
                <div class="footer__chapter footer__logistic">
                    <div class="footer__contact__logistic">
                        <h5 class="footer__title-text title">Отдел логистики:</h5>
                        <a href="tel:79998004554" class="footer__contact__logistic-link">+7 (999) 800-45-54</a>
                    </div>
                    <div class="footer__contact__social">
                        <ul class="footer__contact__social-list">
                            <li class="footer__contact__social-item"><a href="#" class="footer__contact__social-link"><img src="./assets/images/icon/tg.svg" alt="Иконка Телеграмм"></a></li>
                            <li class="footer__contact__social-item"><a href="#" class="footer__contact__social-link"><img src="./assets/images/icon/vk.svg" alt="Иконка Вконтакте"></a></li>
                            <li class="footer__contact__social-item"><a href="#" class="footer__contact__social-link"><img src="./assets/images/icon/yt.svg" alt="Иконка Ютуба"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="footer__chapter footer_shit">
                    <p class="footer__info-text">Интернет-магазин dysmarket.ru, 2022 © Все права защищены.</p>
                </div>
                    

            </nav>
        </div>
    </div>
</footer>

<a href="#x" class="overlay" id="mobile-nav"></a>
<div class="nav-popup">
     <picture class="logo">
         <source media="(max-width: 768px)" srcset="./assets/images/logo/logo767.avif" type="image/avif">
         <source media="(max-width: 768px)" srcset="./assets/images/logo/logo767.png 1x, ./assets/images/logo/logo7672x.png 2x">
         
         <source media="(max-width: 1201px)" srcset="./assets/images/logo/logo1199.avif" type="image/avif">
         <source media="(max-width: 1201px)" srcset="./assets/images/logo/logo1199.png 1x, ./assets/images/logo/logo11992x.png 2x">
     
         <img src="./assets/images/logo/logo.avif" srcset="./assets/images/logo/logo.png 1x, ./assets/images/logo/logo2x.png 2x" alt="Логотип с надписью 'dyson'" class="logo__image">
     </picture>
     <div class="nav-popup__wrapper">
         <ul class="nav-popup__menu">
             <li><a href="#0">Доставка и оплата</a></li>
             <li><a href="#0">Сертификаты и лицензии</a></li>
             <li><a href="#0">Регистрация продукта</a></li>
             <li><a href="#0">Сервис</a></li>
             <li><a href="#0">О нас</a></li>
         </ul>
         <div class="nav-popup__contact">
             <a class="nav-popup__contact-phone" href="tel:+78003501005"><span><img src="./assets/images/icon/mobile/phone.svg" alt="Иконка телефона"></span>+7 (800) 350-10-05</a>
             <ul class="nav-popup__social">
                 <li><a href="#0"><img src="./assets/images/icon/mobile/vk.svg" alt="Иконка ВКонтакте"></a></li>
                 <li><a href="#0"><img src="./assets/images/icon/mobile/tg.svg" alt="Иконка Телеграмма"></a></li>
                 <li><a href="#0"><img src="./assets/images/icon/mobile/wh.svg" alt="Иконка WhatsApp"></a></li>
             </ul>
         </div>
         <div class="nav-popup__info">
             <a href="#0">Политика конфиденциальности</a>
             <a href="#0">Реквизиты</a>
         </div>
     </div>
     <a class="close" title="Закрыть" href="#close"></a>
 </div>

 <div class="back-call">
    <div class="back-call-wrapper">
        <div class="back-call__close"><img src="./assets/images/icon/close-black.svg" alt="Закрыть окно"></div>
        <div class="back-call__title">
            <h4>Получить скидку</h4>
        </div>
        <form action="" class="back-call__form">
            <div class="back-call__form-list">
                <input type="text" name="back-call-name" placeholder="Имя">
                <input type="text" name="back-call-email" placeholder="Email">   
            </div>
            <button class="back-call__form-btn" type="button">Отправить</button>
        </form>
        <a href="#0 с">Нажимая на кнопку, вы принимаете Положение и Согласие на обработку персональных данных</a>
    </div>
 </div>